* {
    bg-col: #1e1e2e;
    bg-col-light: #1e1e2e;
    border-col: #1e1e2e;
    selected-col: #45475a;
    blue: #1e1e2e;
    fg-col: #bac2de;
    fg-col2: #f2cdcd;
    grey: #7f849c;
    width: 600;
}

